@charset "utf-8";

.top_area {
	width: 100%;
	height: 300px;
	background: url(../img/business_top.png) no-repeat center center;
	overflow: auto;
}

.tab {
	width: 597px;
	height: 60px;
	margin: 0 auto 60px;
}

.tab li {
	float: left;
	margin-left: -1px;
}

.tab li a {
	display: block;
	width: 200px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 18px;
	color: #242424;
	border: 1px solid #d7d7d7;
	box-sizing: border-box;
}

.tab li.active a {
	background-color: #48c29e;
	border-color: #48c29e;
	color: white;
	position: relative;
	z-index: 1;
}

.content h5.subTitle {
	font-size: 26px;
	color: #242424;
	text-align: center;
	margin-bottom: 25px;
}

.content h5.subTitle span {
	font-weight: 500;
}

.content div .line {
	width: 1200px;
	height: 1px;
	margin: 80px auto 60px;
	background: #f4f4f4;
}

.content01 .list {
	width: 1200px;
	margin: 0 auto;
}

.content01 .list .box {
	width: 380px;
	padding: 35px 0;
	box-sizing: border-box;
	border: 1px solid #d7d7d7;
	float: left;
	border-radius: 5px;
	margin-left: 30px;
	position: relative;
	background: white;
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.content01 .list .box:first-child {
	margin-left: 0;
}

.content01 .list .box:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f4f4f4;
	left: 10px;
	top: 10px;
	border-radius: 5px;
	z-index: -1;
}

.content01 .list .box h6 {
	font-weight: 500;
	color: #242424;
	margin-top: 5px;
	margin-bottom: 10px;
}

.content01 .list .box p.detail {
	color: #666767;
}

.content01 .logo {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	left: 5px;
}

.content01 .logo img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	display: none;
}

.content01 .more_btn {
	display: block;
	width: 140px;
	line-height: 45px;
	text-align: center;
	font-size: 16px;
	margin: 30px auto 0;
	color: #242424;
	cursor: pointer;
	border: 1px solid #242424;
}

.content01 .js-load {
    display: none;
}

.content01 .js-load.active {
    display: block;
}

.content02 .info {
	width: 1200px;
	height: 380px;
	padding: 40px 50px;
	box-sizing: border-box;
	background-color: #f2fbf8;
	margin: 0 auto 100px;
}

.content02 .info img {
	position: absolute;
}

.content02 .info .info_text {
	width: 520px;
	height: 150px;
	float: left;
	display: table;
}

.content02 .info .mg {
	margin-right: 60px;
}

.content02 .info p span.green {
	font-size: 18px;
	display: block;
	margin-bottom: 5px;
	font-weight: 500;
}

.content02 .info .info_text p {
	color: #242424;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.content02 .list {
	width: 780px;
	margin: 0 auto;
}

.list .circle {
	width: 240px;
	height: 240px;
	border-radius: 50%;
	background: white;
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
	float: left;
	text-align: center;
	border: 1px solid #d7d7d7;
	box-sizing: border-box;
	position: relative;
	margin-left: 30px;
}

.list .circle:first-child {
	margin-left: 0;
}

.list .circle:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f4f4f4;
	left: 7px;
	top: 7px;
	border-radius: 50%;
	z-index: -1;
}

.list .circle p.green {
	margin-top: 55px;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 500;
}

.list .circle p.black {
	font-size: 16px;
	line-height: 26px;
}

.content02 .img {
	width: 1108px;
	margin: 50px auto 0;
}

.content02 .img img {
	float: left;
	margin-left: 20px;
	border: 1px solid #d7d7d7;
}

.content02 .img img:first-child {
	margin-left: 0;
}

.content03 .list {
	width: 510px;
	margin: 0 auto;
}

.content03 .logo {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	left: 5px;
}

.content03 .logo img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}